@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.font-comemorativa {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo {
    padding: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.menu-personalizado:hover {
    padding-bottom: 17px;
    border-bottom: 4px solid #F2C438;
}

.menu-whatsapp:hover {
    padding-bottom: 11px;
    border-bottom: 4px solid #25D366;
}

.galeria {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.h1-pg-1{
    font-size: 3em;
    white-space: nowrap;
    margin-top: 80px;
}

.h1-pg-2{
    font-size: 3em;
    white-space: nowrap;
    margin-top: 80px;
}

.h1-pg-3{
    font-size: 2.1em;
    white-space: nowrap;
    margin-top: 100px;
}

.img1-pg-3 {
    margin-left: -100;
    margin-top: 200px;
    height: 170px;
    width: 255px;
}

.p1-pg-1 {
    margin-top: -100px !important;
}

.p3-pg-1 {
    margin-top: 0px !important;
}

.p2-pg-2 {
    margin-top: -20px !important;
    font-size: 1em;
    text-align: left;
}

.p2-pg-3 {
    margin-top: 220px !important;
    text-align: left;
    font-size: 1em;
}

.btn1-pg-2 {
    margin-top: 0px;
}

.btn1-pg-3 {
    margin-top: 0px;
}

.carouselLarge {
    pointer-events: none;
}

.card-acai {
    width: 43%;
    margin: 0 2%;
    height: 385px;
    margin-top: 5%;
}

.card-acai img{
    width: 60%;
}

.card-title {
    font-size: clamp(1em, 3vw, 1.5em);
    font-weight: 600;
}

.cont-card {
    padding: 5px 0px;
    margin: 0px;
    font-size: clamp(0.85em, 2.5vw, 1.0em);
}

.card-hover:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.020);
}

#seta-prev {
    margin-left: -5%;
}

#seta-next {
    margin-right: -5%;
}

.pergunta {
    font-size: 1.4rem;
    border-top: 1px solid black;
    list-style-position: inside;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}

.resposta {
    opacity: 0;
    font-size: 1rem !important;
    font-weight: lighter;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
    transform: translateY(100%);
}

.pergunta:hover{
    transform: translateY(-10%);
}

.pergunta:hover .resposta{
    opacity: 1;
    transform: translateY(0);
}

/* classes personalizadas bootstrap */
* {
    cursor: default;
    color: black;
}

.h-15 {
    height: 15%;
}

.h-85 {
    height: 85%;
}

.h-360px {
    height: 360px;
}

.h-500px {
    height: 500px;
}

.h-700px {
    height: 700px;
}

.w-90 {
    width: 90%;
}

.w-240px {
    width: 240px;
}

.mt-6 {
    margin-top: 6em;
}

.fs-075 {
    font-size: 0.75em;
}

.bg-purple {
    background-color: #651552;
}

.bg-gray {
    background-color: rgb(180, 180, 180);
}

.bg-yellow {
    background-color: #F2C438;
}

@media screen and (min-width: 768px) {

    .mt-mb-0 {
        margin-top: 0px !important;
    }

    .h-md-50 {
        height: 50% !important;
    }

    .h-md-75px {
        height: 75px;
    }

    .h-md-150px {
        height: 150px;
    }

    .h-md-300px {
        height: 300px;
    }

    .h-md-720px {
        height: 720px;
    }

    .fs-md-1 {
        font-size: 1em;
    }

    .fs-md-3 {
        font-size: 3em;
    }

    .w-md-100px {
        width: 100px;
    }

    .w-md-480px {
        width: 480px;
    }

    .w-md-510px {
        width: 600px;
    }

    .justify-content-md-end {
        justify-content: end;
    }

    #logo {
        width: 150px;
        height: 150px;
    }

    .h1-pg-1{
        font-size: 4em;
        margin-top: 170px;
    }

    .p1-pg-1 {
        margin-top: 150px !important;
    }

    .p3-pg-1 {
        margin-top: 130px !important;
    }

    .h1-pg-2{
        font-size: 4em;
        margin-top: 130px;
    }

    .p2-pg-2 {
        margin-top: 150px !important;
        text-align: justify;
        font-size: 1.2em;
    }

    .btn1-pg-2 {
        margin-top: 150px;
    }

    .h1-pg-3{
        font-size: 4em;
        margin-top: 130px;
    }

    .img1-pg-3 {
        margin-left: 200px;
        margin-top: 0px;
        height: 340px;
        width: 510px;
    }

    .p2-pg-3 {
        margin-top: 250px !important;
        text-align: justify;
        font-size: 1.2em;
    }

    .btn1-pg-3 {
        margin-top: 50px;
    }

    .carouselLarge {
        pointer-events: auto;
    }

    .carouselsmall {
        pointer-events: none;
    }

    .card-acai {
        width: 20%;
        height: 550px;
        margin-top: 0;
    }
}